<% layout('/layouts/boilerplate') -%>
<div class="row col-6 offset-3 mt-3">
    <div class="alert alert-danger" role="alert">
        <h4><%= err.message %></h4>
        <!-- <p>%err.stack%></p> this willl print the whole message about the error from it where starts and all  -->
      </div>
</div>