<% layout('/layouts/boilerplate') -%>
<body>
    <h3>All Listing</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form> -->
    <div class="row">
        <% for(let listings of alllistings){ %>
            <div class="card" style="width: 20rem;">
                <img src="<%= listings.image %>" class="card-img-top" alt="listing_image">
                <div class="card-body">
                  <p class="card-text">
                    <%= listings.title%> <br>
                    &#8377;<%= listings.price.toLocaleString("en-IN")%>/night 
                  </p>
                </div>
              </div>
              <% } %>

    </div>
    
</body>
