body{
    /* background-color: pink;*/
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;    
}
.container{
    flex:1
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    /* // icon styling of compass */
    color: #fe424d;
    font-size: 2rem;
}
.navlink{
    color: #222222 !important; 
}


/* //footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    padding-right: 1rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-social,
.f-info-links,
.f-info-brand{
    width:  100%;
    display: flex;
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
}
.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}



/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 80% !important;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white !important;
}

/* btn  new page  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page  */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


/* show page  */
.show-img{
    height: 50vh;
    width: 80% !important;
}
.btns{
    display: flex;
}



/* MAP  */
#map { 
   height: 400px;
   width: 100vh;
}

